* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
